/*!CK:4005726289!*//*1379901053,178146347*/

.sp_6qjcrq{background-image:url(/rsrc.php/v2/yl/r/Jjr90adRoG1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_32a4ab{width:13px;height:15px;background-position:0 0}
.sx_1c00dd{background-position:0 -16px}

#bootloader_B1_fQ { height: 42px; }
.bootloader_B1_fQ { display:block !important; }