/*!CK:551148820!*//*1388976278,178127453*/

._6nl, ._6nm{color:#141823;font-size:14px;font-weight:normal;line-height:18px;max-width:480px}
._5bu2 ._6nl, ._5bu2 ._6nm{max-width:512px}
._6nm ._42wl{float:left}
._6nl a, ._6ns ._6nm ._50jn a{color:#141823;font-weight:bold}
._57u0 ._6nl, ._57u0 ._6nl a, ._57u0 ._6nm, ._57u0 ._6nm ._50jn a, ._588m ._6nm a.profileLink{color:#333}
._6ns ._6nm a, ._6kq .text_exposed_link a{color:#2e57aa}
._6nm a.profileLink, ._6nm a._58cn{color:#141823;font-weight:bold}
._6nm ._58cn ._58cl{color:#373e4d;font-weight:normal}
._6nm a.weakReference, ._6ns ._6nm ._50jn a.weakReference, ._57u0 ._6nm a.weakReference{color:gray;display:inline-block}
._6nm a.weakReference i{margin-right:3px}
._6np{font-weight:bold}
._6nm{margin-bottom:3px;margin-top:2px;word-wrap:break-word}
._4vcw ._6nm{margin-bottom:0;margin-top:0}
._4q_ ._6nm{margin-bottom:6px}
._4q_ ._57n4, ._4vcw ._4q_ ._6nm{margin-bottom:5px}
._6nm p{margin:6px 0}
._6nm p:first-child{margin-top:0}
._6nm p:last-child{display:inline;margin-bottom:0}
._5ngu{margin-top:4px}
._6kq .text_exposed_root > p:last-of-type{display:inline}
._6kq .text_exposed > p:first-child, ._6kq .text_exposed > p:last-of-type{display:block}
._6kq .text_exposed_hide{display:inline-block;margin-right:4px}
._6kq .text_exposed .text_exposed_hide{display:none}
._6kq .text_exposed_link{display:inline-block;font-size:100%;padding:0}
._6kq .text_exposed .text_exposed_show .text_exposed_link{display:inline !important}
._6kq .userContent{display:inline}
._6nl ._52eh{color:#6a7480}
._cv8{display:inline-block}
._cv8 .img{height:10px;margin-top:2px;vertical-align:top;width:10px}
._x_y{background-image:url(/rsrc.php/v2/y7/r/9LKNQAXTAQv.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -15px}
._51l-{margin-bottom:-2px;margin-right:5px}
._5bxn{color:#898f9c;font-size:12px}
._59hz{padding-left:3px;vertical-align:-2px}
.HovercardMessagesButton ._59hz{height:11px;vertical-align:0}
.HovercardMessagesButton ._59hz .mobile{vertical-align:-2px}
.fbPhotoTagger ._570u{min-width:220px;padding:6px}
._570v{margin-left:3px;margin-top:1px}
._5ep9{background:none;border:2px solid rgba(255, 255, 255, .3);-webkit-border-radius:3px;overflow:hidden;position:absolute}
._5epb{overflow:hidden;position:relative}
._5epc{position:relative}
._5epd{position:absolute}
.fbxPhoto .fbPhotoImageStage{width:100%;-webkit-user-select:none}
.fbxPhoto .fbPhotoImageStage .stageContainer, .fbxPhoto .fbPhotoImageStage .buttonsContainer{width:100%}
.fbxPhoto .fbPhotoImageStage .fbPhotoPageError{text-align:left}
.fbPhotoImageStage .fbPhotosPhotoButtons .fbPhotosPhotoLike, .fbPhotoImageStage .fbPhotosPhotoButtons .tagButton{margin:6px}
.fbPhotoImageStage .fbPhotosPhotoButtons{bottom:0;color:#333;cursor:default;left:0;position:absolute;right:0;-webkit-user-select:none;z-index:2}
.fbPhotoImageStage .imageStage{overflow:hidden;position:relative;width:720px}
.fbPhotoImageStage .fbPhotosPhotoButtons .saveProfilePicMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .tagMessage, .fbPhotoImageStage .fbPhotosPhotoButtons .cropMessage{background-color:rgba(255, 255, 255, .8);color:#333;padding:6px 10px;vertical-align:middle}
.fbPhotoSnowlift.profilePicCroppingMode .profilePicViewportGrabby{z-index:3}
.profilePicSavingMode .profilePicViewportGrabby{display:none}
.fbxPhoto .fbPhotoImageStage .stageContainer{background-color:#f6f6f6;height:453px}
.imageLoading .fbPhotoImageStage .stageContainer{background:#f6f6f6 url(/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat center center}
.fbxPhoto .fbPhotoImageStage .stageWrapper{display:inline-block;position:relative}
.fbxPhoto .fbPhotoImage{display:inline-block;height:auto;image-rendering:optimizeQuality;max-height:720px;max-width:720px;vertical-align:middle;width:auto}
.taggingMode .fbPhotoImage{cursor:crosshair}
.fbPhotoViewLarger{opacity:.5;position:absolute;right:15px;top:15px;z-index:1}
.fbPhotoViewLarger:hover{cursor:pointer;opacity:1}
.fbxPhoto .fbPhotoImageStage .stageTagApproval, .fbxPhoto .fbPhotoImageStage .stageActions{cursor:pointer;height:0;left:0;position:absolute;top:0;width:0}
.fbxPhoto .fbPhotoImageStage .stageTagApproval{cursor:auto;width:100%}
.fbxPhoto .fbPhotoImageStage .stageButtons{position:relative;text-align:center}
.dataLoading .fbPhotoPageInfo .fbPhotoUfiCol *, .dataLoading .fbPhotoPageInfo .fbPhotoDataCol *{display:none}
.fbPhotoSnowliftContainer .uiTypeaheadView .hintText{display:none}
.taggingMode .fbPhotoTagger{cursor:crosshair}
.fbPhotoTagger{display:block;left:auto;position:absolute;right:auto;text-align:left;top:0;z-index:10}
.fbxPhoto .newTagBox{height:99px;left:auto;position:absolute;right:auto;top:0;width:99px}
.taggingMode .fbPhotosPhotoTagboxes .faceBox .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.active .innerTagBox, .fbPhotosPhotoTagboxes .faceBox.otherActive .innerTagBox{visibility:visible}
.fbPhotosPhotoTagboxes .faceBox .innerTagBox{border:3px solid rgba(255, 255, 255, .25);-webkit-border-radius:3px;-webkit-box-shadow:0 0 2px rgba(0, 0, 0, .25), 0 0 5px rgba(0, 0, 0, .15) inset}
.fbPhotosPhotoTagboxes .faceBox.hover .innerTagBox{border-color:rgba(255, 255, 255, .75);-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .65), 0 0 4px rgba(0, 0, 0, .4) inset}
.fbPhotosPhotoTagboxes .faceBox.active .innerTagBox{border-color:transparent;-webkit-box-shadow:none}
.fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .25);-webkit-border-radius:3px;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .75), 0 0 4px rgba(0, 0, 0, .5) inset;position:relative;visibility:visible}
.taggingMode .fbPhotosPhotoTagboxes .faceBox.active .borderTagBox, .fbPhotoTagger .faceBox{border:3px solid rgba(255, 255, 255, .9)}
.fbPhotoTagger .faceBoxHidden{border:3px solid transparent;-webkit-box-shadow:none}
.profilePicCroppingMode .fbPhotosPhotoTagboxBase{display:none}
.profilePicCroppingMode .fbPhotoTagger{display:none}
.fbPhotoTagger .typeaheadWrapper{cursor:default;left:50%;position:absolute;top:100%}
.fbPhotoTaggerFlipped .typeaheadWrapper{bottom:100%;top:auto}
.fbPhotoTagger .typeaheadContainer{left:-50%;position:relative;top:4px}
.fbPhotoTaggerFlipped .typeaheadContainer{bottom:4px;top:auto}
.fbPhotoTagger .arrow{background-image:none;height:7px;position:absolute;top:-5px;width:100%;z-index:1}
.fbPhotoTaggerFlipped .arrow{display:none}
.fbPhotoTagger .arrow .nub{background-image:url(/rsrc.php/v2/yo/r/1weAgyNGizi.png);background-repeat:no-repeat;background-size:auto;background-position:-165px -196px;height:7px;left:50%;margin-left:-6px;position:absolute;top:0;width:11px}
.fbPhotoTagger .typeaheadLabel{display:none}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop, .fbPhotoTagger .uiTypeaheadView{background:#fff;border:#333 solid 1px;padding:4px}
.fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop{margin-top:6px}
.fbPhotoTagger.suggestionActive .typeaheadBackdrop{display:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop{margin-bottom:0;margin-top:auto}
.fbPhotoTaggerLeft .typeaheadBackdrop{margin-left:340px}
.fbPhotoTaggerRight .typeaheadBackdrop{margin-left:-280px;width:212px}
.fbPhotoTagger .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTaggerFlipped .typeaheadBackdrop.resultsPresent{border-bottom:none}
.fbPhotoTaggerLeft ul{margin-left:340px}
.fbPhotoTaggerRight ul{margin-left:-280px;margin-right:0;width:220px}
.fbPhotoTagger .uiTypeaheadView{border-top:0;left:-5px;margin-top:2px;padding-top:0}
.fbPhotoTagger .photoTagTypeahead, .fbPhotoTagger .photoTagTypeahead .wrap{border-color:#ccc}
.fbPhotoTagger .photoTagTokenizer{width:212px}
.fbPhotoTagger .tokenarea{display:none}
.bulkEditTagger{display:block}
.bulkEditTagger .faceBox{border-width:3px;height:52px;width:52px}
.fbPhotoBulkEditor .newTagBox{height:60px;width:60px;z-index:2}
.fbxPhoto .newTagBox .tag{top:105%}
.uiTagTypeaheadView .compact{border-top:0;margin-top:0}
.uiTagTypeaheadView .compact .hintText{cursor:default;height:14px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText{background-color:#edeff4;border:1px solid #d8dfea;cursor:default;height:30px;margin-bottom:4px;min-height:0;padding-left:6px}
.uiTagTypeaheadView .compact .userEdText .subtext{color:gray;white-space:normal}
.presenceIndicator{display:inline-block}
.presenceIndicator i{display:inline-block;height:14px;width:9px}
.presenceIndicator .online{background-image:url(/rsrc.php/v2/yE/r/_CQtPZkVSyw.png);background-repeat:no-repeat;background-size:auto;background-position:-299px -5px}
.presenceIndicator .mobile{background-image:url(/rsrc.php/v2/yE/r/_CQtPZkVSyw.png);background-repeat:no-repeat;background-size:auto;background-position:-169px -147px;height:12px;width:10px}
.presenceIndicator .offline{background-image:url(/rsrc.php/v2/y7/r/9LKNQAXTAQv.png);background-repeat:no-repeat;background-size:auto;background-position:-300px 0}
.sp_cep6ss{background-image:url(/rsrc.php/v2/yC/r/SHTO6w0TEd1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_5fe236{height:11px;background-position:0 -41px}
.sx_d373ee{height:10px;background-position:-16px -13px}
.selected .sx_d373ee{background-position:0 -13px}
.sx_5098f7{height:12px;background-position:-16px 0}
.selected .sx_5098f7{background-position:0 0}
.sx_b38a12{width:15px;background-position:0 -24px}
.sx_303b41{width:15px;background-position:-16px -24px}
.sx_28937f{width:13px;height:13px;background-position:0 -53px}
.sp_ds4goc{background-image:url(/rsrc.php/v2/y7/r/9LKNQAXTAQv.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_927a04{width:7px;height:14px;background-position:-300px 0}
.sx_c25b76{width:6px;height:9px;background-position:-26px -15px}
.sx_f15965{background-position:-13px -15px}
.selected .sx_f15965{background-position:0 -15px}
.flashFallbackButton{text-align:center}

#bootloader_x4B_y { height: 42px; }
.bootloader_x4B_y { display:block !important; }