/*!CK:3032792294!*//*1385376917,173213981*/

._4-pr{position:relative}
._4-p6{bottom:-10px;left:-4px;position:absolute;right:-4px;top:-10px;z-index:-1}

#bootloader_ki4I_ { height: 42px; }
.bootloader_ki4I_ { display:block !important; }