/*!CK:912279639!*//*1384827625,173209415*/

html ._4g5r .fbChatSidebar, ._5ap0, ._56h3{font-family:'Helvetica Neue', Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;-webkit-font-smoothing:antialiased;font-weight:500}
._59j-, ._5ap0, ._4g5r .fbChatSidebar{-webkit-transform:translateZ(0)}
html .safari ._50d1{-webkit-font-smoothing:subpixel-antialiased;-webkit-transform:translateZ(0)}
.safari._4g5r ._50d2, .safari ._5ap0:hover, .safari._4g5r .fbChatSidebar:hover{-webkit-transform:none}

#bootloader_HBLpt { height: 42px; }
.bootloader_HBLpt { display:block !important; }