/*!CK:577717817!*//*1388974954,178191153*/

.sp_20vy24{background-image:url(/rsrc.php/v2/yQ/r/-fE7I6lH69V.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}
.sx_9dc45d{width:12px;height:12px;background-position:-13px -64px}
.selected .sx_9dc45d{background-position:0 -64px}
.sx_99a515{width:28px;height:28px;background-position:0 -35px}
.sx_3e1d87{width:16px;height:16px;background-position:0 -77px}
.sx_df2c57{background-position:0 0}

#bootloader_6VLfO { height: 42px; }
.bootloader_6VLfO { display:block !important; }