/*!CK:1039075971!*//*1388974954,178137879*/

._4r38{margin-top:-16px;position:absolute;right:2px;top:50%;z-index:1}
._5ap0 ._4r38, ._4kdq .fbChatSidebar ._4r38{right:147px}
._4r39{background-image:url(/rsrc.php/v2/yn/r/KBU_5AmhUu3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -39px;display:block;height:12px;left:3px;position:relative;width:15px}
._4r38._4trx ._4r39, ._4r38:hover ._4r39, ._4r38:active ._4r39{background-image:url(/rsrc.php/v2/yn/r/KBU_5AmhUu3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -26px}
._5bci ._4r39{background-image:url(/rsrc.php/v2/yn/r/KBU_5AmhUu3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -13px;height:12px;width:15px}
._5bci ._4r38._4trx ._4r39, ._5bci ._4r38:hover ._4r39, ._5bci ._4r38:active ._4r39{background-image:url(/rsrc.php/v2/yn/r/KBU_5AmhUu3.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._5bml._4r38{bottom:0;left:0;margin:0;padding:15px 0;position:absolute;right:0;top:auto}
._5bml ._4r39{left:50%;margin-left:-8px;position:relative}
._5ifh{background:#f3f5f7;border-bottom:1px dashed #c4ccde;margin:-3px 0 0 -18px;position:relative}
._6nw ._5ifh{border-bottom:none;margin:4px 0 8px}
._5ifi{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:12px;line-height:1.358;padding:32px}
._5ifi ul{list-style:disc;margin-left:0}
._5ifk{border-bottom:1px solid #f3f3f3;margin-bottom:22px;padding-bottom:18px}
._5ois{border:0;margin-bottom:0;padding-bottom:0}
._5oit{margin:24px 0}
._5ifj, ._5oiu{font-family:'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;margin:30px 0 0}
._5oiu{color:#939393}
._5ifm, ._5ifi li{margin:8px 0}
._5oiv{position:absolute;right:10px;top:10px}
._5r_2{background-image:url(/rsrc.php/v2/yP/r/Tx6EKDvzD23.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:12px;position:absolute;right:12px;width:12px}
._5r_2:hover{background-image:url(/rsrc.php/v2/yP/r/Tx6EKDvzD23.png);background-repeat:no-repeat;background-size:auto;background-position:0 -13px}
._5r_5 ._53ij{background:#5890ff;border:0;-webkit-border-radius:3px;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, .3);padding:12px 36px 12px 12px;width:172px}
._5r_1, #pagelet_litestand_section_nav ._5r_1{border:3px solid #5890ff;-webkit-border-radius:6px}
#pagelet_litestand_section_nav ._5r_1{margin:-3px 0 0 -3px}
#chatFriendsOnline._5r_1{margin:-3px -15px;padding-left:12px;padding-right:12px}
.fbChatSidebar ._5r_1{padding:7px;z-index:12}
._4kdq #pagelet_sidebar ._5r_1{padding:7px 4px;right:150px}
._5r_5 ._53io{background-image:none;height:0;width:0}
._5r_5.uiLayer ._53il ._53io{background:transparent;border-bottom:9px solid #5890ff;border-left:9px solid transparent;border-right:9px solid transparent;height:0;width:0}
._5r_5.uiLayer ._53ik ._53io{background:transparent;border-left:9px solid transparent;border-right:9px solid transparent;border-top:9px solid #5890ff;height:0;width:0}
._5r_5.uiLayer ._53in ._53io{background:transparent;border-bottom:9px solid transparent;border-right:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._5r_5.uiLayer ._53im ._53io{background:transparent;border-bottom:9px solid transparent;border-left:9px solid #5890ff;border-top:9px solid transparent;height:0;width:0}
._5r_6{color:#fff;font-size:14px;line-height:18px;text-shadow:0 0 2px rgba(0, 0, 0, .3)}
._55og .presenceIndicator._5r_1{border:none;height:14px;margin-left:1px;padding-left:2px;position:absolute}
._5dmd ._1yv{background:rgba(70, 70, 70, .7);-webkit-border-radius:10px;-webkit-box-shadow:none;padding:10px}
._5dmd .layerCancel{display:none}
.sp_4ksnr3{background-image:url(/rsrc.php/v2/yP/r/Tx6EKDvzD23.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_14e09d{background-position:0 0}
.sx_43b831{background-position:0 -13px}
.sp_dmhh6e{background-image:url(/rsrc.php/v2/yn/r/KBU_5AmhUu3.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:15px}
.sx_b0e701{background-position:0 0}
.sx_34860d{background-position:0 -13px}
.sx_308f28{background-position:0 -26px}
.sx_8f2e0f{background-position:0 -39px}

#bootloader_hz0_B { height: 42px; }
.bootloader_hz0_B { display:block !important; }