/*!CK:3029237059!*//*1388976335,178186557*/

._59g8{min-width:730px}
._57pt.home #globalContainer, ._57pt.home #blueBarHolder #pageHead{width:980px}
._57pt.home #blueBar{min-width:980px}
._57pt.home #globalContainer #content{margin:0 90px}
._57pt.home #leftCol{display:none}
._57pt.home #contentCol{margin-left:0}
._57pt.home #pageFooter{margin-left:-1px}
._57pt.home #contentCurve{height:0}
._57pt .fbFeedTicker, ._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6, ._57pt ._56h3, ._57pt .fbChatSidebar{font:12px/16px Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._5c81._57pt .fbFeedTicker, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5, ._5c81._57pt .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6{font:11px/14px 'lucida grande',tahoma,verdana,arial,sans-serif}
html ._57pt .fbDockWrapper{right:0}
._57pt #pagelet_rhc_ticker{display:none}
html ._57pt._4g5r #globalContainer, html ._4_f0 #globalContainer, html ._4g5r #blueBar #pageHead, ._4g5r #blueBar #pagesVoiceBarContent{padding-right:0}
._4kdq ._57pt.fbx #globalContainer{padding:0 12px}
._4kdq ._504q.fbx #globalContainer{padding:0}
._4g5r #blueBar #pagesVoiceBarContent{left:0}
html ._57pt._4g5r._4_f0 #blueBarHolder #blueBar, html ._5ap2._57pt._4_f0 #blueBarHolder #blueBar, html ._57pt._4_f0 ._4_37{margin-left:0}
._4_f0 #pagelet_sidebar{display:none}
._57pt._4g5r .fbPageBannerInner, ._57pt._4g5r ._53df, html ._57pt._4g5r #blueBarHolder #blueBar{margin-left:205px}
._5ap2._57pt .fbPageBannerInner, ._5ap2._57pt ._53df, html ._5ap2._57pt #blueBarHolder #blueBar, ._4kdq ._57pt .fbPageBannerInner, ._4kdq ._57pt ._53df, html._4kdq ._57pt #blueBarHolder #blueBar{margin-left:56px}
._57pt._4g5r .fbPageBannerInner{left:0;width:initial}
html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder.slim, html.sidebarMode ._4g5r._57pt.hasVoiceBar.hasSmurfbar #blueBarHolder #blueBar{height:66px}
html body._5bci .fbChatSidebar{background:transparent;border-left:1px solid rgba(0, 0, 0, .1)}
html body._5bci._5c81 .fbChatSidebar{background:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);-webkit-box-shadow:inset 2px 0 2px -2px #b2b9c9;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;z-index:300}
.timelineLayout ._5bcj .fbChatSidebarBody{background-color:#e7ebf2}
._4lh ._5bcj .fbChatSidebarBody, ._4__a._6nw ._5bcj .fbChatSidebarBody{background-color:#e9eaed}
._5bcl:before{background:rgba(255, 255, 255, .35);bottom:0;content:'';left:0;position:absolute;top:0;width:1px}
html ._5ap0:after, html body._5bci .fbChatSidebar:after{content:none}
html ._5bci #blueBarHolder #blueBar{padding-right:0;z-index:301}
html ._5c81 #blueBarHolder #blueBar{z-index:300}
html.sidebarMode ._5bci #blueBarHolder #blueBar{margin-right:0;padding-right:205px}
._5bmm{bottom:0;min-height:40px;position:absolute;width:56px}
._5dqg ._5bmm{position:static;width:100%}
._5dqb ._5bmm{display:none}
._5bmh{display:block;height:100%;position:relative}
._5bmh:focus{background:#1f2228;outline:none}
._5bmh:active, ._5bmh:hover{background:transparent}
._5bmi{height:1px;position:absolute;width:56px}
._5dqg ._5bmi{margin-top:-8px}
._5drk{height:10000px;position:relative;top:-12px}
._5bmn{margin-left:17px}
._5dqd{margin:24px 0 0 22px}
._52s1{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -10px;height:11px;position:absolute;right:10px;top:11px;width:12px}
._4vcw ._52s1{top:9px}
._5bci ._52s1{top:15px}
._4kdq ._52s1{right:145px}
._52x9, ._5gry, ._4-d6 ._54so{cursor:default;-webkit-user-select:none}
._52x9, ._5bci a._52x9, div._5468 ._4-d6 ._54so, div._5468.fbChatSidebar ._4-d6 ._54so{padding-left:30px;padding-right:30px;width:145px}
._52xa{cursor:pointer;left:0;padding:9px 7px;position:absolute;top:0}
._4vcw ._52xa{padding:7px}
._5bci ._52xa{padding:13px 7px}
._52xb{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -10px;display:block;height:16px;opacity:.8;-webkit-transition:opacity .2s;width:16px}
._52s3 ._52xb{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -10px}
._52xa:hover ._52xb{opacity:1}
._52s9 ._52sa, div._52s9 ._52sa:hover{border-bottom:none;border-top-color:transparent}
._52s9{height:0;margin-bottom:4px;opacity:0;overflow:hidden;-webkit-transition:height .6s cubic-bezier(0.19, 1, .22, 1), opacity .6s, margin-bottom .6s}
ul._57m-{margin-bottom:-4px;-webkit-transition:margin-bottom .6s}
._4vcw ._52s9{margin-bottom:6px}
._4vcw ._57m-{margin-bottom:-6px}
._52s6 ._52s9, ._4-d6 ._52s9{height:26px;margin-bottom:0;opacity:1}
._52s6 ._57m-, ._4-d6 ._57m-{margin:0}
._52s4{color:#8c949f;cursor:pointer;float:right}
._5bci ._52s4{font-size:11px;font-weight:bold;line-height:24px;margin-right:-8px}
._52s4:hover{text-decoration:underline}
._4kdq ._52s4{display:none}
._52s0, ._4g5r ._4-d6 ._52s3 ._54so{cursor:move;cursor:-webkit-grab}
._52s3.droppable_placeholder{background-color:#141618;border-bottom:1px solid #383c45;-webkit-box-shadow:0 3px 3px -3px rgba(0, 0, 0, .2) inset, 0 -3px 3px -3px rgba(0, 0, 0, .2) inset;margin-top:-2px}
._5bci ._52s3.droppable_placeholder{background-color:#171922;border-color:#2c3140}
._52s3.drag{background:#1f2228;border-top:1px solid #24262a;cursor:move;cursor:-webkit-grabbing;margin-top:-1px;z-index:1}
._5bci ._52s3.drag{background:#1d212f;border-color:#232937}
._52s3.drag:before{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -5px;top:-5px}
._52s3.drag:after{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;bottom:-4px}
._52s3.drag:after, ._52s3.drag:before{content:'';height:4px;left:0;position:absolute;width:204px}
._57ix{height:1px;left:0;position:absolute;top:0;width:1px}
._57yp.contentAfter .uiScrollableAreaTrack:hover, ._57yp.contentBefore .uiScrollableAreaTrack:hover, ._57yp.contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, ._57yp.uiScrollableAreaDragging .uiScrollableAreaTrack{background:rgba(0, 0, 0, .15)}
._57yp .uiScrollableAreaGripper{background:rgba(255, 255, 255, .5);border-color:transparent}
._4kdq ._56ci .fbChatSidebar .uiScrollableAreaBody{min-height:0}
._4kdq ._56ci .fbChatSidebarBody{overflow:hidden}
._56ci ._5ap0 ._4_vf, ._4kdq ._56ci .fbChatSidebar ._4_vf{display:block}
._4kdq ._56ci ._56du ._4_vf, ._56ci ._5ap0._5dqb ._4_vf{display:none}
._4kdq ._56ci ._52i7:focus, ._4kdq ._56ci ._52i7:hover{background-color:#1f2228;outline:none}
._56ci.ie10 ._5ap0 a:hover ._4_vf, ._4kdq ._56ci.ie10 a:hover ._4_vf{background-image:url(/rsrc.php/v2/y4/r/-PAXP-deijE.gif)}
.sp_796fxw{background-image:url(/rsrc.php/v2/yV/r/M1kuc9SCtfx.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:4px;width:205px}
.sx_0c0030{width:16px;height:16px;background-position:0 -10px}
.sx_ae5865{width:12px;height:11px;background-position:-34px -10px}
.sx_346e5d{width:16px;height:16px;background-position:-17px -10px}
.sx_ca9447{background-position:0 0}
.sx_7051c3{background-position:0 -5px}

#bootloader_crR7I { height: 42px; }
.bootloader_crR7I { display:block !important; }